body {
  background-color: #231F20;
}

.white {
  background-color: white;
  color: #231F20;
}

.black {
  color: white;
}

.blue {
  color: #00ADE2;
}

div.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  min-height: 20rem;
  letter-spacing: 6pt;
}

div.image {
  width: 80%;
  margin: auto;
}

.text-center {
  text-align: center;
}